*{
  margin:0;
  padding: 0;
}

.content{
  margin: 6rem 1rem;
  z-index: -1;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap:0.8rem;
  row-gap: 1.3rem;
  justify-content: center; 
}
@media(max-width:830px){
  *{
    margin:0;
    padding: 0;
  }
  
  .content{
    margin: 6rem 1rem;
    z-index: -1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:0.8rem;
    row-gap: 1.3rem;
    justify-content: center; 
  }
}
@media(max-width:400px){
  *{
    margin:0;
    padding: 0;
  }
  
  .content{
    margin: 6rem 1rem;
    z-index: -1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:0.8rem;
    row-gap: 1rem;
    justify-content: center; 
  }

}
